[Unit]
Description=MeshNet XBee TCP/IP Network
After=network.target

[Service]
ExecStart=/opt/meshnet/venv/bin/python3 /opt/meshnet/main.py
Type=simple
Restart=always
WorkingDirectory=/opt/meshnet

[Install]
WantedBy=multi-user.target