Package: meshnet
Version: 0.0.2
Section: base
Priority: optional
Architecture: all
Maintainer: Hallway Trails <dev@hallwaytrails.com>
Description: meshnet
 Runs a TCP/IP network using Meshed Digi XBees
